
/*GLOBAL SELECTOR*/
* {
  margin: 0px;
  padding: 0px;
  font-family: Open Sans, Verdana, Geneva;
}


html, body {
  height: 100%;
  width: 100%;
}


nav, main {
  padding: 1em;
  box-sizing: border-box;
}


/*MOBILE SIZE*/

.header {
  z-index: 3;
  background-color: #009999;
  width: 100%;
  height: 80px;
  color: white;
  display: flex;
  padding-left: 10px;
}


a#burger-btn svg {
  width: 40px;
  fill: white;
}


/*SIDEBAR HIDDEN ON MOBILE*/
#sidebar {
  z-index: 2;
  width: 280px;
  height: 100%;
  position: absolute;
  background-color: white;
  color: #5e5e5e;
  /*MOVES SIDEBAR OFF CANVAS*/ 
  -webkit-transform: translate(-280px, 0);
  transform: translate(-280px, 0);
  /* Optionally, we animate the drawer. */
  transition: transform 0.3s ease;
}


/*SIDEBAR OPEN*/
#sidebar.open {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}


/*LIST LOOK*/
#sidebar ul li {
  list-style-type:none;
  /*outline-style: none;*/
  padding-left: 15px;
  padding-top: 10px;
  line-height: 30px;
  /*border-bottom: 1px solid black;*/
}


#sidebar h3 {
  color: #009999;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
}


#map {
  z-index: 1;
  height: 100%;
}


 /*IF DEVICE IS BIGGER 600PX*/
@media (min-width: 600px) {

/*KEEP SIDEBAR OPEN*/
#sidebar {
  /*MOVES SIDEBAR OFF CANVAS*/ 
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}


/*REMOVE BURGER ICON*/
#burger-btn {
  display: none;
}


} /*end media*/






